<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for m in modele %}
        <article>
            <h2>{{m.libelle}}</h2>
            <p>{{m.getIdMarque()}}</p>
            <p>{{m.getIdCategorie()}}</p>
        </article>
    {% endfor %}
</body>
</html>
